html,
body {
	margin: 0px;
}

#main {
    background-image: url('../images/tile.jpg');
}

.blog-card {
	background-color: rgb(176, 159, 159);
	padding: 20px;
	margin: 15px;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
}

.blog-pic {
	height: 35vh;
	width: 48vw;
	padding: 10px;
	border-radius: 0px;
}

.fig {
	font-size: 0.8em;
}
a {
    text-decoration: none;
    color: rgb(55, 50, 50);
}
#heading {
 padding: 20px;
}
#blogs-content {
    background-color: rgba(222, 222, 152, 0.8);
    padding: 20px;
 
}
@media (min-width: 700px) {
	#main {
		width: 100vw;
		height: 150vh;
		padding-top: 0px;
		margin: 0px;
		background-image: url('../images/tile.jpg');
		background-size: cover;
	}

	a {
		text-decoration: none;
		color: white;
	}
	#small {
		margin: 20px;
		color: white;
		padding: 10px;
	}
	#home {
		color: white;
    }
    #heading{
        padding: 40px;
    }
	#blogs-content {
		background-color:rgb(128, 128, 128,.8);
		height: 95vh;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 6fr;
		grid-template-areas:
			' title title title link1 link2'
			'blog1 blog2 blog3 blog4 blog4';
		font-family: 'Hind Siliguri', sans-serif;
	}

    .blog-pic {
        height: 17vh;
        width: 8vw;
        padding: 10px;
        border-radius: 0px;
    }
	.blog-link {
		color: lightblue;
	}
	.blog-card {
		background-color: rgb(191, 70, 70);
		padding: 15px;
		box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
		transition: 0.4s;
		margin: 20px;
		font-size: 16px;
		height: 85vh;
	}

	#blog-content {
		font-size: 16px;
		padding: 20px;
	}

	#photo {
		height: 20vh;
		width: 20vw;
	}
	#date {
		align-items: left;
	}
	.nav-items {
		color: white;
	}
}
