html {
    margin: 0px;
}
body {
    margin: 0px;
}

@media(min-width: 800px){
    #main {
        background-image: url('../images/tile.jpg');
		background-size: cover;
		height: 300vh;
		text-align: center;
		width: 100vw;
		font-family: 'Hind Siliguri', sans-serif;
        color: white;
    }
    #bio-body {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-rows: 1fr 6fr;
		grid-template-areas:
			'top top top'
			'bio blogs projects';
        padding: 10px 7px;
        background-color: rgb(252, 252, 174,.7);
        margin: 0px 40px;
    }
   
    
    img {
        height: 335px;
        width: 255px;
    }

}
