@import '../Css/bloghome.css';
@import '../Css/blogpost.css';

html {
	margin: 0px;
}
body {
	margin: 0px;
}

#main {
    background-image: url('../images/tile.jpg');
		background-size: cover;
		height: 275vh;
		text-align: center;
		font-family: 'Hind Siliguri', sans-serif;
		color: white;
}

#heading {
    margin: 20px;
    background-color: rgb(255, 255, 255,.9);
}
#name {
    margin: 10px;
    color: rgb(91, 88, 88);
    padding: 10px;
}

#mobile-top {
    background-color: rgb(87, 85, 85);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'email email email' 'youtube github linkedin';
    margin: 15px;
    padding: 15px;
    color: white;
}

#mid-first {
    background-color: rgb(115, 116, 116);
    padding: 15px;
    margin: 15px;
}
#contact {
    grid-area: email;
}

#youtube {
    grid-area: youtube;
}
#github {
    grid-area: github;
}

#linkedin {
    grid-area: linkedin;

    background-color: rgba(244, 227, 134, 0.745);
}

img {
    height: 160px;
    width: 146px;
    border-radius: 55%;
}

#blog-card {
    background-color:  rgb(135, 115, 115);
    margin: 15px;
    padding: 15px;
}
a {
    color: white;
    text-decoration: none;
}

#project-card {
    background-color:  rgb(101, 94, 94);
    margin: 15px;
    padding: 15px;
}

.myButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:8px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 10px;
}
.myButton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.myButton:active {
    position:relative;
    top:1px;
}
.button-link {
    text-decoration: none;
    color: white;
}
#project-link {
    font-size: 13px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:8px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 10px;
}


@media (min-width: 800px) {
	#main {
		background-image: url('../images/tile.jpg');
		background-size: cover;
		height: 155vh;
		text-align: center;
		width: 100vw;
		font-family: 'Hind Siliguri', sans-serif;
		color: white;
	}
	#heading {
		padding: 20px 40px 10px 40px;
    }
    #name {
        color: rgb(33, 113, 155);
        font-size: 30px;
    }
	.date {
		text-align: left;
		padding-left: 8px;
    }
    #contact {
        color: rgb(33, 113, 155);
    }
	#bio-body {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-rows: 1fr 10fr;
		grid-template-areas:
			'top top top'
			'bio blogs projects';
		padding: 10px 7px;
		background-color: rgba(244, 227, 134, 0.745);
		margin: 0px 40px;
		height: 127vh;
	}

	#blog-card {
		background-color: rgb(189, 84, 84);
		margin: 10px;
		padding: 12px;
		height: 100vh;
    }
    #blog-title {
        font-size: 23px;
    }
    #blog-content {
        font-size: 17.6px;
        padding: 15px;
    }
    #project-content {
        font-size: 17.6px;
        padding: 15px;
    }
	#project-card {
		background-color: rgb(189, 84, 84);
		margin: 10px;
		padding: 12px;
		height: 100vh;
	}
	#top-grid {
		padding: 5px;
		grid-area: top;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 'name link1 link2 link3 link4';
	}

	#bio-title {
		grid-area: bio;
		margin: 10px;
	}

	#mid-first {
		background-color: #a8476c;
		box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
		transition: 0.4s;
		margin: 10px;
		height: 103vh;
	}

	#contact {
		grid-area: link1;
	}
	#youtube {
		grid-area: link2;
	}
	#github {
		grid-area: link3;
	}

	#linkedin {
		grid-area: link4;
	}

	#name {
		grid-area: name;
	}
	#pic-div {
		grid-area: pic;
		padding: 20px;
		margin: 10px;
	}
	#pic {
		border-radius: 50%;
		height: 170px;
		width: 155px;
	}

	#brooke-details {
		grid-area: location;
	}

	#Navbar {
		color: white;
		grid-area: nav;
		font-size: 12px;
	}

	#project-video {
		grid-area: video;
		color: white;
		font-size: 12px;
	}
	#github {
		color: rgb(33, 113, 155);
	}
	a {
		text-decoration: none;
        font-size: 18px;
        color:rgb(33, 113, 155);
    }
    .myButton {
        box-shadow: 0px 10px 14px -7px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:8px 8px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
        margin: 10px;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#408c99;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    .button-link {
        text-decoration: none;
        color: white;
    }
    #project-link {
        font-size: 13px;
        box-shadow: 0px 10px 14px -7px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:8px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:8px 8px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
        margin: 10px;
    }
    
            
}
