html {
	margin: 0px;
}
body {
	margin: 0px;
}

@media (min-width: 800px) {
	#main {
		background-image: url('../images/tile.jpg');
		background-size: cover;
		height: 155vh;
		text-align: center;
		width: 100vw;
		font-family: 'Hind Siliguri', sans-serif;
		color: white;
	}
	#heading {
		padding: 20px;
	}
	#date {
		text-align: left;
		padding-left: 8px;
	}
	#bio-body {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-rows: 1fr 10fr;
		grid-template-areas:
			'top top top'
			'bio blogs projects';
		padding: 10px 7px;
		background-color: rgba(244, 227, 134, 0.745);
		margin: 0px 40px;
		height: 127vh;
	}

	#blog-card {
		background-color: rgb(189, 84, 84);
		margin: 10px;
		padding: 12px;
		height: 100vh;
	}
	#project-card {
		background-color: rgb(189, 84, 84);
		margin: 10px;
		padding: 12px;
		height: 100vh;
	}
	#top-grid {
		padding: 5px;
		grid-area: top;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 'name link1 link2 link3 link4';
	}

	#bio-title {
		grid-area: bio;
		margin: 10px;
	}

	#mid-first {
		background-color: #a8476c;
		box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
		transition: 0.4s;
		margin: 10px;
		height: 103vh;
	}

	#contact {
		grid-area: link1;
	}
	#youtube {
		grid-area: link2;
	}
	#github {
		grid-area: link3;
	}

	#linkedin {
		grid-area: link4;
	}

	#name {
		grid-area: name;
	}
	#pic-div {
		grid-area: pic;
		padding: 20px;
		margin: 10px;
	}
	#pic {
		border-radius: 50%;
		height: 170px;
		width: 155px;
	}

	#brooke-details {
		grid-area: location;
	}

	#Navbar {
		color: white;
		grid-area: nav;
		font-size: 12px;
	}

	.nav-items {
		color: rgb(33, 113, 155);
	}
	#project-video {
		grid-area: video;
		color: white;
		font-size: 12px;
	}
	#github {
		color: rgb(33, 113, 155);
	}
	a {
		text-decoration: none;
		font-size: 18px;
	}
}
